*{
    box-sizing: border-box; 
}

body{
    margin: 'Raleway', sans-serif; 
    text-align: center; 
    
}

header {
     position :absolute;
    left: 0; 
    right: 0; 
    margin: 1em; 
}

nav ul {
    margin: 0; 
    padding: 0; 
    list-style: none; 
    
}

nav li {
    display: inline-block; 
    margin: 1em; 
}

nav a {
    font-weight: 900; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-size: .8rem; 
    padding: .5em; 
    color: #fff; 
}

/*home-hero */

.home-hero{
    background-image: url(../images/background.jpg); 
    padding:10em 0; 
    
}